
// Colors
$green: #305A02
$hover_green: #294D02
$black: #1e1e1e
$white: #ffffff
$bright_green: #CBE7C9
$yellow: #D6BF1C

// Margins
$eightclamp: clamp(4px,0.4166666666666667vw,16px)
$sixteenclamp: clamp(8px,0.8333333333333334vw,32px)
$twentyclamp: clamp(10px,1.0416666666666667vw,40px)
$thirtytwoclamp: clamp(16px,1.6666666666666667vw,64px)
$sixtyfourclamp: clamp(32px,3.3333333333333335vw,128px)
$onetwoeightclamp: clamp(64px,6.666666666666667vw,256px)
$twofivesixclamp: clamp(128px,13.333333333333334vw,512px)

// Text Size
$mainHeading: clamp(40px,4.166666666666667vw,160px)
$navigation: clamp(11.5px,1.1979166666666667vw,46px)
$button: clamp(9.5px,0.9895833333333334vw,19px)
$down: clamp(10.5px,1.09375vw,42px)
$descripiton: clamp(12.5px,1.3020833333333333vw,50px)

// Text Properties
$fontWeight700: 700
$fontWeight600: 600
$fontWeight500: 500
$fontWeight400: 400
$fontWeight300: 300
$fontStyle: normal
$montserrat: 'Montserrat'
$sourceSansPro: 'Source Sans Pro'

// Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap')

*

    body

        .modal
            width: clamp(416.5px,43.385416666666664vw,1666px)
            height: clamp(150px,15.625vw,600px)
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            background: white
            border: 4px solid $green
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25) !important
            border-radius: 17px
            -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards

            .popup-heading
                font-family: 'Montserrat'
                font-style: normal
                font-size: clamp(16px,1.6666666666666667vw,64px)
                text-align: center
                font-weight: 800
                text-transform: uppercase
                color: $green

            .popup-paragraph
                font-family: 'Montserrat'
                font-style: normal
                font-weight: 400
                font-size: clamp(15px,1.5625vw,60px)
                color: $black
                text-align: center
                margin-top: $thirtytwoclamp

            .close
                display: none

        .popup-overlay
            background: rgba(0, 0, 0, 0.55)

        .contact-screen
            width: 100%
            height: auto
            background-size: cover
            background-image: url(../../assets/Contact_Background.svg) !important
            font-family: 'Montserrat'
            font-style: normal
            height: auto
            display: flex
            align-items: center
            margin: auto
            z-index: 10
            flex-direction: column
            margin-top: $onetwoeightclamp

            .contact-container
                width: 86.45833333333333%
                height: auto
                display: flex
                flex-direction: column
                margin: auto

                .contacts
                    display: flex
                    flex-direction: column
                    margin: auto

                    .mobile-phone-c
                        display: flex
                        align-items: center

                        .phone-icon
                            width: clamp(16px,1.66656vw,64px)
                            height: clamp(16px,1.66656vw,64px)

                        .phone-link
                            font-size: clamp(12px,1.24992vw,48px)
                            color: $white
                            margin-left: $sixteenclamp

                .contact-heading
                    font-family: 'Montserrat'
                    font-style: normal
                    font-weight: 700
                    font-size: clamp(30px,3.125vw,120px)
                    color: $white
                    margin: auto
                    margin-top: clamp(40px,4.166666666666667vw,160px)

                .contact-heading-second
                    width: clamp(242.5px,25.260416666666668vw,970px)
                    font-family: 'Source Sans Pro'
                    font-style: normal
                    font-weight: 700
                    font-size: clamp(17.5px,1.8229166666666667vw,70px)
                    margin: auto
                    margin-top: clamp(20px,2.0833333333333335vw,80px)
                    color: $white
                    text-align: center

                .contact-paragraph
                    width: clamp(324.5px,33.802083333333336vw,1298px)
                    font-family: 'Source Sans Pro'
                    font-style: normal
                    font-weight: 400
                    font-size: clamp(13.5px,1.40625vw,54px)
                    color: $white
                    text-align: center
                    margin: auto
                    margin-top: $thirtytwoclamp

                .form
                    width: clamp(255.5px,26.614583333333332vw,1022px)
                    height: auto
                    display: flex
                    flex-direction: column
                    align-items: center
                    background: #FFFFFF
                    box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.2)
                    border-radius: 14px
                    margin: auto
                    margin-top: $sixtyfourclamp
                    margin-bottom: clamp(72.5px,7.552083333333333vw,290px)

                    .form-heading
                        width: clamp(129px,13.4375vw,516px)
                        font-family: 'Source Sans Pro'
                        font-style: normal
                        font-weight: 600
                        font-size: $thirtytwoclamp
                        text-align: center
                        margin-top: $thirtytwoclamp

                    .name-container, .phone-container, .email-container
                        display: flex
                        align-items: center
                        flex-direction: column
                        margin-top: $thirtytwoclamp

                        .name-heading, .phone-heading, .email-heading
                            font-family: 'Source Sans Pro'
                            font-style: normal
                            font-weight: 700
                            font-size: clamp(11.5px,1.1979166666666667vw,46px)

                        .name-input, .phone-input, .email-input
                            width: clamp(223px,23.229166666666668vw,892px)
                            height: clamp(29px,3.0208333333333335vw,116px)
                            background: #EEEEEE
                            border-radius: 41px
                            font-family: 'Montserrat'
                            font-style: normal
                            font-weight: 400
                            font-size: clamp(9px,0.9375vw,36px)
                            padding-left: clamp(10px,1.0416666666666667vw,40px)
                            color: $black
                            margin-top: $sixteenclamp
                            &:focus
                                outline: none
                                border: 2px solid green

                    .form-paragraph
                        width: clamp(180.5px,18.802083333333332vw,722px)
                        font-family: 'Source Sans Pro'
                        font-style: normal
                        font-weight: 500
                        font-size: clamp(8.5px,0.8854166666666666vw,34px)
                        text-align: center
                        margin-top: $thirtytwoclamp

                    .form-button
                        width: clamp(167px,17.395833333333332vw,668px)
                        height: clamp(29px,3.0208333333333335vw,116px)
                        background: #305A02
                        border-radius: 88px
                        font-family: 'Montserrat'
                        font-style: normal
                        font-weight: 700
                        color: $white
                        font-size: clamp(10px,1.0416666666666667vw,40px)
                        margin-top: clamp(25px,2.6041666666666665vw,100px)
                        margin-bottom: $thirtytwoclamp

@media screen  and (max-width: 448px)

    *

        body

            .contact-screen
                width: 100% !important
                height: auto !important
                background-size: cover !important
                background-position: center !important
                background-image: url(../../assets/Contact_Background.svg) !important
                font-family: 'Montserrat' !important
                font-style: normal
                height: auto
                display: flex
                align-items: center
                margin: auto
                z-index: 10
                flex-direction: rfcolumn
                margin-top: $onetwoeightclamp

                .contact-paragraph
                    font-size: clamp(9.5px,4.4392523364485985vw,38px) !important

                .form
                    width: clamp(175px,81.77570093457943vw,700px) !important
                    height: auto !important

                    .form-heading
                        width: clamp(100px,46.728971962616825vw,400px) !important
                        font-size: clamp(10.5px,4.906542056074766vw,42px) !important

                    .name-container, .phone-container, .email-container
                        margin-top: clamp(16px,7.4766355140186915vw,64px) !important

                        .name-heading, .phone-heading, .email-heading
                            font-size: clamp(8.5px,3.97196261682243vw,34px) !important

                        .name-input, .phone-input, .email-input
                            width: clamp(145px,67.75700934579439vw,580px) !important
                            height: clamp(23px,10.74766355140187vw,92px) !important
                            font-size: clamp(6.5px, 3.0373831775700935vw,26px) !important

                    .form-paragraph
                        width: clamp(150px,70.09345794392523vw,600px) !important
                        font-size: clamp(7.5px,3.5046728971962615vw,30px) !important
                        margin-top: clamp(12px,5.607476635514018vw,48px) !important

                    .form-button
                        width: clamp(135px,63.08411214953271vw,540px) !important
                        height: clamp(21.5px,10.046728971962617vw,86px) !important
                        font-size: clamp(7.5px,3.5046728971962615vw,30px) !important

    .modal
        width: clamp(150px,70.09345794392523vw,600px) !important
        height: clamp(100px,46.728971962616825vw,400px) !important
        display: flex !important

        .popup-heading
            font-size: clamp(7.5px, 3.6231884057971016vw,30px) !important

        .popup-paragraph
            width: clamp(100px,48.309178743961354vw,400px) !important
            font-size: clamp(7.5px,3.6231884057971016vw,30px) !important

@keyframes anvil
    0%
        transform: scale(1) translateY(0px)
        opacity: 0
        box-shadow: 0 0 0 rgba(241, 241, 241, 0)

    1%
        transform: scale(0.96) translateY(10px)
        opacity: 0
        box-shadow: 0 0 0 rgba(241, 241, 241, 0)

    100%
        transform: scale(1) translateY(0px)
        opacity: 1
        box-shadow: 0 0 500px rgba(241, 241, 241, 0)
