@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* body .contact-screen {
  width: 100%;
  height: auto;
  background-size: cover;
  background-image: url(../../assets/Contact_Background.svg) !important;
  font-family: "Montserrat";
  font-style: normal;
  height: auto;
  display: flex;
  align-items: center;
  margin: auto;
  z-index: 10;
  flex-direction: column;
  margin-top: clamp(64px, 6.6666666667vw, 256px);
}
* body .contact-screen .contact-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
* body .contact-screen .contact-container .contact-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(30px, 3.125vw, 120px);
  color: #ffffff;
  margin: auto;
  margin-top: clamp(40px, 4.1666666667vw, 160px);
}
* body .contact-screen .contact-container .contact-heading-second {
  width: clamp(242.5px, 25.2604166667vw, 970px);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(17.5px, 1.8229166667vw, 70px);
  margin: auto;
  margin-top: clamp(20px, 2.0833333333vw, 80px);
  color: #ffffff;
  text-align: center;
}
* body .contact-screen .contact-container .contact-paragraph {
  width: clamp(324.5px, 33.8020833333vw, 1298px);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(13.5px, 1.40625vw, 54px);
  color: #ffffff;
  text-align: center;
  margin: auto;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .contact-screen .contact-container .form {
  width: clamp(255.5px, 26.6145833333vw, 1022px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  margin: auto;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
  margin-bottom: clamp(72.5px, 7.5520833333vw, 290px);
}
* body .contact-screen .contact-container .form .form-heading {
  width: clamp(129px, 13.4375vw, 516px);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(16px, 1.6666666667vw, 64px);
  text-align: center;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .contact-screen .contact-container .form .name-container, * body .contact-screen .contact-container .form .phone-container, * body .contact-screen .contact-container .form .email-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .contact-screen .contact-container .form .name-container .name-heading, * body .contact-screen .contact-container .form .name-container .phone-heading, * body .contact-screen .contact-container .form .name-container .email-heading, * body .contact-screen .contact-container .form .phone-container .name-heading, * body .contact-screen .contact-container .form .phone-container .phone-heading, * body .contact-screen .contact-container .form .phone-container .email-heading, * body .contact-screen .contact-container .form .email-container .name-heading, * body .contact-screen .contact-container .form .email-container .phone-heading, * body .contact-screen .contact-container .form .email-container .email-heading {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(11.5px, 1.1979166667vw, 46px);
}
* body .contact-screen .contact-container .form .name-container .name-input, * body .contact-screen .contact-container .form .name-container .phone-input, * body .contact-screen .contact-container .form .name-container .email-input, * body .contact-screen .contact-container .form .phone-container .name-input, * body .contact-screen .contact-container .form .phone-container .phone-input, * body .contact-screen .contact-container .form .phone-container .email-input, * body .contact-screen .contact-container .form .email-container .name-input, * body .contact-screen .contact-container .form .email-container .phone-input, * body .contact-screen .contact-container .form .email-container .email-input {
  width: clamp(223px, 23.2291666667vw, 892px);
  height: clamp(29px, 3.0208333333vw, 116px);
  background: #EEEEEE;
  border-radius: 41px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(9px, 0.9375vw, 36px);
  padding-left: clamp(10px, 1.0416666667vw, 40px);
  color: #1e1e1e;
  margin-top: clamp(8px, 0.8333333333vw, 32px);
}
* body .contact-screen .contact-container .form .name-container .name-input:focus, * body .contact-screen .contact-container .form .name-container .phone-input:focus, * body .contact-screen .contact-container .form .name-container .email-input:focus, * body .contact-screen .contact-container .form .phone-container .name-input:focus, * body .contact-screen .contact-container .form .phone-container .phone-input:focus, * body .contact-screen .contact-container .form .phone-container .email-input:focus, * body .contact-screen .contact-container .form .email-container .name-input:focus, * body .contact-screen .contact-container .form .email-container .phone-input:focus, * body .contact-screen .contact-container .form .email-container .email-input:focus {
  outline: none;
  border: 2px solid green;
}
* body .contact-screen .contact-container .form .form-paragraph {
  width: clamp(180.5px, 18.8020833333vw, 722px);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(8.5px, 0.8854166667vw, 34px);
  text-align: center;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .contact-screen .contact-container .form .form-button {
  width: clamp(167px, 17.3958333333vw, 668px);
  height: clamp(29px, 3.0208333333vw, 116px);
  background: #305A02;
  border-radius: 88px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: clamp(10px, 1.0416666667vw, 40px);
  margin-top: clamp(25px, 2.6041666667vw, 100px);
  margin-bottom: clamp(16px, 1.6666666667vw, 64px);
}/*# sourceMappingURL=contact.css.map */