
// Colors
$green: #305A02
$hover_green: #294D02
$black: #1e1e1e
$white: #ffffff
$bright_green: #CBE7C9
$yellow: #D6BF1C

// Margins
$eightclamp: clamp(4px,0.4166666666666667vw,16px)
$sixteenclamp: clamp(8px,0.8333333333333334vw,32px)
$twentyclamp: clamp(10px,1.0416666666666667vw,40px)
$thirtytwoclamp: clamp(16px,1.6666666666666667vw,64px)
$sixtyfourclamp: clamp(32px,3.3333333333333335vw,128px)
$onetwoeightclamp: clamp(64px,6.666666666666667vw,256px)
$twofivesixclamp: clamp(128px,13.333333333333334vw,512px)

// Text Size
$mainHeading: clamp(40px,4.166666666666667vw,160px)
$navigation: clamp(11.5px,1.1979166666666667vw,46px)
$button: clamp(9.5px,0.9895833333333334vw,19px)
$down: clamp(10.5px,1.09375vw,42px)
$descripiton: clamp(12.5px,1.3020833333333333vw,50px)

// Text Properties
$fontWeight700: 700
$fontWeight600: 600
$fontWeight500: 500
$fontWeight400: 400
$fontWeight300: 300
$fontStyle: normal
$montserrat: 'Montserrat'
$sourceSansPro: 'Source Sans Pro'

// Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap')

*

    body

        .cards-container
            width: 86.45833333333333%
            display: flex
            align-items: center
            justify-content: space-between
            margin: auto
            margin-top: $onetwoeightclamp

            .card-content
                width: clamp(154.5px,16.09375vw,618px)
                height: clamp(252.5px,26.302083333333332vw,1010px)
                display: flex
                flex-direction: column
                align-items: center
                background: #F8F8F8
                border-radius: 15px
                filter: drop-shadow(0px 27px 28px rgba(0, 0, 0, 0.2))

                .card-image
                    width: clamp(51.5px,5.364583333333333vw,206px)
                    height: clamp(50.5px,5.260416666666667vw,202px)
                    margin-top: $thirtytwoclamp

                .card-header
                    font-family: 'Montserrat'
                    font-style: normal
                    font-weight: 700
                    font-size: clamp(13.5px,1.40625vw,54px)
                    margin-top: $thirtytwoclamp
                    color: $black

                .card-paragraph
                    width: clamp(122.5px,12.760416666666666vw,490px)
                    font-family: 'Source Sans Pro'
                    font-style: normal
                    font-weight: 400
                    font-size: clamp(10px,1.0416666666666667vw,40px)
                    color: $black
                    margin-top: $thirtytwoclamp
                    margin-bottom: clamp(38px,3.9583333333333335vw,152px)

@media screen  and (max-width: 448px)

    .cards-container
        width: 86.45833333333333% !important
        display: flex
        flex-direction: column !important
        margin-top: clamp(64px ,29.906542056074766vw, 256px)!important

        .card-content
            width: clamp(150px,70.09345794392523vw,600px) !important
            height: clamp(225px,115.38461538461539vw,900px) !important
            display: flex
            flex-direction: column
            align-items: center
            background: #F8F8F8
            border-radius: 15px
            margin-top: 64px !important
            filter: drop-shadow(0px 27px 28px rgba(0, 0, 0, 0.2))

            .card-image
                width: clamp(50px,23.364485981308412vw,200px) !important
                height: clamp(50px,23.364485981308412vw,200px) !important
                margin-top: $thirtytwoclamp

            .card-header
                font-family: 'Montserrat'
                font-style: normal
                font-weight: 700
                font-size: clamp(10.5px,4.906542056074766vw,42px) !important
                margin-top: $thirtytwoclamp
                color: $black

            .card-paragraph
                width: clamp(125px,58.41121495327103vw,500px) !important
                font-family: 'Source Sans Pro'
                font-style: normal
                font-weight: 400
                font-size: 19px !important
                color: $black
                text-align: center !important
                margin-top: $thirtytwoclamp
                margin-bottom: clamp(38px,3.9583333333333335vw,152px)
