@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* body .main-screen {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  height: auto;
  display: flex;
  margin: auto;
  z-index: 10;
  flex-direction: column;
}
* body .main-screen .main-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
* body .main-screen .main-container .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Source Sans Pro";
  font-style: normal;
  color: #ffffff;
  font-weight: 600;
  font-size: clamp(11.5px, 1.1979166667vw, 46px);
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .main-screen .main-container .navigation .honest-trading-logo {
  cursor: pointer;
  width: clamp(133px, 13.8541666667vw, 532px);
  height: clamp(41px, 4.2708333333vw, 164px);
}
* body .main-screen .main-container .navigation .navigation-links {
  display: flex;
  align-items: center;
  margin-left: clamp(16px, 1.6666666667vw, 64px);
}
* body .main-screen .main-container .navigation .navigation-links .main {
  margin-right: clamp(32px, 3.3333333333vw, 128px);
}
* body .main-screen .main-container .navigation .navigation-links .contact-with-us {
  margin-left: clamp(32px, 3.3333333333vw, 128px);
}
* body .main-screen .main-container .main-content {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: clamp(64px, 6.6666666667vw, 256px);
}
* body .main-screen .main-container .main-content .main-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(40px, 4.1666666667vw, 160px);
  color: #305A02;
  text-transform: uppercase;
}
* body .main-screen .main-container .main-content .main-heading .yellow {
  color: #D6BF1C;
}
* body .main-screen .main-container .main-content .main-paragraph {
  width: clamp(337.5px, 35.15625vw, 1350px);
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  font-size: clamp(12.5px, 1.3020833333vw, 50px);
}
* body .main-screen .main-container .main-content .consultation-button {
  width: clamp(186.5px, 19.4270833333vw, 746px);
  height: clamp(28.5px, 2.96875vw, 114px);
  border-radius: 62px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(9.5px, 0.9895833333vw, 19px);
  color: #ffffff;
  background-color: #305A02;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
}
* body .main-screen .main-container .main-content .consultation-button:hover {
  background-color: #294D02;
}
* body .main-screen .main-container .main-content .consultation-button .phone-icon {
  margin-right: clamp(6px, 0.625vw, 24px);
}
* body .main-screen .blob {
  width: clamp(556.19px, 57.2072916667vw, 2224.76px);
  height: clamp(653.87px, 68.1114583333vw, 2615.48px);
  position: absolute;
  z-index: -5;
  left: clamp(476.5px, 49.6354166667vw, 1906px);
  top: clamp(-176.4px, -18.375vw, -705.6px);
}/*# sourceMappingURL=main.css.map */