@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* body .about-screen {
  width: 100%;
  height: auto;
  font-family: "Montserrat";
  font-style: normal;
  height: auto;
  display: flex;
  align-items: center;
  margin: auto;
  z-index: 10;
  flex-direction: column;
  margin-top: clamp(64px, 6.6666666667vw, 256px);
}
* body .about-screen .about-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
* body .about-screen .about-container .about-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(30px, 3.125vw, 120px);
  color: #305A02;
  margin: auto;
}
* body .about-screen .about-container .number-list {
  display: flex;
  flex-direction: column;
  margin-top: clamp(127.5px, 13.28125vw, 510px);
}
* body .about-screen .about-container .number-list .second, * body .about-screen .about-container .number-list .third {
  margin-top: clamp(32px, 3.3333333333vw, 128px);
}
* body .about-screen .about-container .number-list .first, * body .about-screen .about-container .number-list .second, * body .about-screen .about-container .number-list .third {
  display: flex;
  align-items: center;
}
* body .about-screen .about-container .number-list .first .s-01-mob, * body .about-screen .about-container .number-list .first .s-02-mob, * body .about-screen .about-container .number-list .first .s-03-mob, * body .about-screen .about-container .number-list .second .s-01-mob, * body .about-screen .about-container .number-list .second .s-02-mob, * body .about-screen .about-container .number-list .second .s-03-mob, * body .about-screen .about-container .number-list .third .s-01-mob, * body .about-screen .about-container .number-list .third .s-02-mob, * body .about-screen .about-container .number-list .third .s-03-mob {
  display: none;
}
* body .about-screen .about-container .number-list .first .s-01, * body .about-screen .about-container .number-list .first .s-02, * body .about-screen .about-container .number-list .first .s-03, * body .about-screen .about-container .number-list .second .s-01, * body .about-screen .about-container .number-list .second .s-02, * body .about-screen .about-container .number-list .second .s-03, * body .about-screen .about-container .number-list .third .s-01, * body .about-screen .about-container .number-list .third .s-02, * body .about-screen .about-container .number-list .third .s-03 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: clamp(27.5px, 2.8645833333vw, 110px);
  color: #305A02;
}
* body .about-screen .about-container .number-list .first .description-01, * body .about-screen .about-container .number-list .first .description-02, * body .about-screen .about-container .number-list .first .description-03, * body .about-screen .about-container .number-list .second .description-01, * body .about-screen .about-container .number-list .second .description-02, * body .about-screen .about-container .number-list .second .description-03, * body .about-screen .about-container .number-list .third .description-01, * body .about-screen .about-container .number-list .third .description-02, * body .about-screen .about-container .number-list .third .description-03 {
  width: clamp(324.5px, 33.8020833333vw, 1298px);
  text-align: right;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(13px, 1.3541666667vw, 52px);
  color: #1e1e1e;
  margin-right: clamp(16px, 1.6666666667vw, 64px);
}
* body .about-screen .wheat-about {
  position: absolute;
  width: clamp(400px, 41.6666666667vw, 1600px);
  height: clamp(500px, 52.0833333333vw, 2000px);
  left: clamp(-35px, -3.6458333333vw, -140px);
  top: clamp(920px, 95.8333333333vw, 3680px);
}

@media screen and (max-width: 448px) {
  .about-screen {
    width: 100%;
    height: auto;
    font-family: "Montserrat";
    font-style: normal;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    z-index: 10;
    flex-direction: column;
    margin-top: clamp(64px, 6.6666666667vw, 256px);
  }
  .about-screen .about-container {
    width: 86.4583333333%;
    height: auto;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    margin: auto;
  }
  .about-screen .about-container .about-heading {
    margin-top: clamp(32px, 14.953271028vw, 128px) !important;
    font-size: clamp(16px, 7.476635514vw, 64px) !important;
    display: flex !important;
    align-items: center !important;
    display: none !important;
    justify-content: center !important;
  }
  .about-screen .about-container .number-list {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: clamp(32px, 14.953271028vw, 128px) !important;
  }
  .about-screen .about-container .first, .about-screen .about-container .second, .about-screen .about-container .third {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .about-screen .about-container .first .s-01-mob, .about-screen .about-container .first .s-02-mob, .about-screen .about-container .first .s-03-mob, .about-screen .about-container .second .s-01-mob, .about-screen .about-container .second .s-02-mob, .about-screen .about-container .second .s-03-mob, .about-screen .about-container .third .s-01-mob, .about-screen .about-container .third .s-02-mob, .about-screen .about-container .third .s-03-mob {
    width: clamp(44px, 22.5641025641vw, 166px);
    height: clamp(44px, 22.5641025641vw, 166px);
    background-color: #D6BF1C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-family: "Montserrat";
    font-style: normal;
    display: flex !important;
    font-weight: 900;
    font-size: clamp(20px, 10.2564102564vw, 80px) !important;
    color: white;
  }
  .about-screen .about-container .first .description-01, .about-screen .about-container .first .description-02, .about-screen .about-container .first .description-03, .about-screen .about-container .second .description-01, .about-screen .about-container .second .description-02, .about-screen .about-container .second .description-03, .about-screen .about-container .third .description-01, .about-screen .about-container .third .description-02, .about-screen .about-container .third .description-03 {
    font-size: clamp(9px, 4.6153846154vw, 36px) !important;
    text-align: center !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: clamp(8px, 3.738317757vw, 32px) !important;
  }
  .about-screen .about-container .first .s-02-mob, .about-screen .about-container .first .s-03-mob, .about-screen .about-container .second .s-02-mob, .about-screen .about-container .second .s-03-mob, .about-screen .about-container .third .s-02-mob, .about-screen .about-container .third .s-03-mob {
    margin-top: clamp(32px, 16.4102564103vw, 128px) !important;
  }
  .about-screen .about-container .first .s-01, .about-screen .about-container .first .s-02, .about-screen .about-container .first .s-03, .about-screen .about-container .second .s-01, .about-screen .about-container .second .s-02, .about-screen .about-container .second .s-03, .about-screen .about-container .third .s-01, .about-screen .about-container .third .s-02, .about-screen .about-container .third .s-03 {
    display: none !important;
  }
  .about-screen .about-container .down-separator {
    display: flex !important;
    margin-top: clamp(24px, 11.214953271vw, 96px) !important;
  }
  .about-screen .about-container .down-separator .separator {
    width: 3px !important;
    height: clamp(95px, 44.3925233645vw, 380px) !important;
  }
  .about-screen .about-container .down-separator .down-text {
    font-size: clamp(10px, 4.6728971963vw, 40px) !important;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
  }
  .about-screen .wheat-about {
    display: none !important;
  }
}/*# sourceMappingURL=about.css.map */